@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700);

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

.wrapper {
    width: 100%;
    z-index: 10;
    position: relative;
    margin: 0;
    padding: 0;
}

.nav-menu {
	position: absolute;
	top: 32.5em;
	z-index: 1000;
	width: 100%;
	background: #0c4a3b;
    text-align: center;
}

.nav-menu a{
	color: #fce57f;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1.35em;
    font-family: 'Raleway', sans-serif;
}

.nav-menu a:hover {
    text-decoration: none;
}

.nav-menu a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.nav-menu a:hover::before,
.nav-menu a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}

#s-description.active {
    background-image: url(../img/lghtmesh.png);
    background-repeat: repeat;
    background-position: center center;
    color: #0c4a3b;
}

#s-map.active {
    background: #2e2e2e;
}

#s-movies.active {
    background: #fce57f;
    color: #0c4a3b;
}


/* SECTIONS*/
.section {
	width: 100%;	
	position: relative;
	margin: 0;
	padding: 0;
}

.s-header {
    height: 32.5em;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: left 65% bottom 0;
    background-size: cover;
    text-align: center;
    color: #dd481a;
    font-family: 'Bree Serif';
}

.s-header h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
    padding-top: 15%;
}

.s-header h3 {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.s-description {
	height: 500px;
    background-image: url(../img/lghtmesh.png);
    background-repeat: repeat;
    background-position: center center;
}

.description {
    text-align: justify;
    padding: 10%;
    padding-bottom: 0;
}
.techno-list {
    padding-top: 0;
}

.s-map {
	min-height: 600px;
	background: #2e2e2e;
    height: 600px;
    text-align: center;
}

.s-movies {
	min-height: 500px;
	background: #fce57f;
    padding-top: 2%;
    text-align: center;
}


#map-canvas {
    height: 100%;
    width: 100%;
}

/* Hack for zoom controls display bug */
#map-canvas img { max-width: none; }

#search-term {
    width: 50%;
    margin: 10px;
}


